################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebsite/bin
/MyWebsite/obj
/packages
/.vs/config
/.vs/MyWebsite/v15/Server/sqlite3
